/* Icon Size Mixin
===================================================================================================================== */

@mixin icon-size($size) {
  
  &.size-#{$size} {
    
    width: #{$size}px;
    height: #{$size}px;
    font-size: #{$size * $icon-size-multiplier}px;
    line-height: #{$size}px;
    
    > i.fa {
      height: #{$size}px;
      line-height: #{$size}px;
    }
    
  }
  
}
