/* Slide Styles
===================================================================================================================== */

.component.slide {
  
  .slide-caption {
    
    > p:last-child {
      margin-bottom: 0;
    }
    
    &.title-after {
      
      > h1, > h2, > h3, > h4, > h5, > h6 {
          margin-bottom: 0;
      }
      
    }
    
  }
  
  > footer {
    text-align: center;
  }
  
}
