/* Component Preview Styles
===================================================================================================================== */

.cms-preview-component {
  
  overflow: hidden;
  
  .cms-preview-wrapper {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
    > header {
      
      min-height: $toolbar-total-height;
      padding-left: $spacer;
      white-space: nowrap;
      font-size: $font-size-xs;
      
      background: {
        repeat: repeat;
        position: left bottom;
        color: $color-darker-bg;
        image: url("~admin/images/textures/cms_content_header.png");
      }
      
      > h1 {
        
        margin: 0;
        color: $color-text-default;
        font-size: 1.2em;
        font-weight: normal;
        line-height: $toolbar-total-height;
        
        i, span.class {
          color: $color-text;
        }
        
      }
      
    }
    
    > div.component {
      
      top: $toolbar-total-height;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: $spacer;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      background-color: $tab-panel-texture-color;
      
      > div.preview {
        background-color: $white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
      }
      
    }
    
  }
  
}
