/* SilverWare Admin Variables
===================================================================================================================== */

$color-darker-bg: #f1f3f6;

$color-text: #66727d;
$color-text-default: #43536d;

$tab-panel-texture-color: #f6f7f8;
