/* SilverWare Admin Bundle
===================================================================================================================== */

// Import SilverStripe Admin Styles:

@import "~silverstripe-admin/styles/variables";
//@import "~silverstripe-admin/styles/legacy/themes/default";

// Import Local Variables:

@import "variables";

// Import Styles:

@import "admin";
@import "forms/DimensionsField";
@import "forms/ViewportsField";
