/* Base List Component Styles
===================================================================================================================== */

.baselistcomponent {
  
  .items {
    
    > article.item {
      
      margin-bottom: $spacer-double;
      
      > div.image {
        
        position: relative;
        margin-bottom: $spacer;
        
        a {
          display: block;
        }
        
        div.image-overlay {
          
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          transition: .5s ease;
          background-color: $image-overlay-background;
          
          > div.inner {
            
            top: 50%;
            left: 0;
            width: 100%;
            position: absolute;
            transform: translateY(-50%);
            
            > div.icon {
              font-size: 32px;
              text-align: center;
              color: $image-overlay-foreground;
            }
            
            > div.text {
              
              text-align: center;
              padding: 0 $spacer;
              
              > * {
                margin: 0;
                padding: 0;
                font-size: $font-size-lg;
                color: $image-overlay-foreground;
              }
              
            }
            
          }
          
        }
        
        &:hover,
        a:focus {
          
          div.image-overlay {
            opacity: 1;
          }
          
        }
        
      }
      
      > section.content {
        
        header {
          
          margin-bottom: $spacer-half;
          
          > * {
            margin-bottom: 0;
          }
          
          a {
            color: inherit;
          }
          
        }
        
        div.details {
          
          color: $gray-600;
          
          > span {
            margin-right: $spacer-half;
          }
          
          a {
            color: inherit;
          }
          
        }
        
        footer {
          margin-top: $spacer;
        }
        
        > div {
          margin-bottom: $spacer-half;
        }
        
      }
      
    }
    
  }
  
}
