/* Content Component Styles
===================================================================================================================== */

.contentcomponent {
  
  > header {
    
    a {
      color: inherit;
    }
    
  }
  
  > div.content {
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    
  }
  
  > footer {
    margin-top: $spacer;
  }
  
}
