/* Feature Component Styles
===================================================================================================================== */

.featurecomponent {
  
  article.feature {
    
    > a.feature {
      display: block;
      text-decoration: none;
      @include hover-focus {
        text-decoration: none;
      }
      @include transition($btn-transition);
    }
    
    div.icon {
      margin-bottom: $spacer-half;
    }
    
    div.summary > p:last-child {
      margin-bottom: 0;
    }
    
    footer {
      margin-top: $spacer;
    }
    
  }
  
}
