/* List Component Styles
===================================================================================================================== */

// Media Queries:

@media (min-width: map-get($grid-breakpoints, md)) {
  
  .listcomponent {
    
    .items {
      
      > article.item {
        display: block;
      }
      
      &.image-align-left > article.item,
      &.image-align-right > article.item,
      &.image-align-stagger > article.item {
        
        display: flex;
        
        > div.image {
          margin-bottom: 0;
        }
        
      }
      
      &.image-align-left > article.item.has-image,
      &.image-align-stagger > article.item.has-image:nth-child(odd) {
        
        > div.image {
          order: 1;
        }
        
        > section.content {
          flex: 1;
          order: 2;
          margin-top: 0;
          margin-left: $spacer;
        }
        
      },
      
      &.image-align-right > article.item.has-image,
      &.image-align-stagger > article.item.has-image:nth-child(even) {
        
        > div.image {
          order: 2;
        }
        
        > section.content {
          flex: 1;
          order: 1;
          margin-top: 0;
          margin-right: $spacer;
        }
        
      }
      
    }
    
  }
  
}
