/* List Component Styles
===================================================================================================================== */

.listcomponent {
  
  .items {
    
    > article.item {
      
      margin-bottom: $spacer-double;
      
      > div.image {
        
        margin-bottom: $spacer;
        
        a {
          display: block;
        }
        
      }
      
      > section.content {
        
        header a {
          color: inherit;
        }
        
        div.details {
          
          color: $gray-light;
          
          a {
            color: inherit;
          }
          
          > span {
            margin-right: $spacer-half;
          }
          
        }
        
        footer {
          margin-top: $spacer;
        }
        
        > div {
          margin-bottom: $spacer-half;
        }
        
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
    }
    
  }
  
}

// Media Queries:

@media (min-width: map-get($grid-breakpoints, md)) {
  
  .listcomponent {
    
    .items {
      
      > article.item {
        display: block;
      }
      
      &.image-align-left > article.item,
      &.image-align-right > article.item,
      &.image-align-stagger > article.item {
        
        display: flex;
        
        > div.image {
          margin-bottom: 0;
        }
        
      }
      
      &.image-align-left > article.item.has-image,
      &.image-align-stagger > article.item.has-image:nth-child(odd) {
        
        > div.image {
          order: 1;
        }
        
        > section.content {
          order: 2;
          margin-left: $spacer;
        }
        
      },
      
      &.image-align-right > article.item.has-image,
      &.image-align-stagger > article.item.has-image:nth-child(even) {
        
        > div.image {
          order: 2;
        }
        
        > section.content {
          order: 1;
          margin-right: $spacer;
        }
        
      }
      
    }
    
  }
  
}
