/* Media Component Styles
===================================================================================================================== */

.mediacomponent {
  
  figure {
    
    width: 100%;
    margin-bottom: 0;
    
    > figcaption > p:last-child {
      margin-bottom: 0;
    }
    
  }
  
  a.text {
    
    display: block;
    
    &:hover {
      
      span {
        text-decoration: underline;
      }
      
      text-decoration: none;
      
    }
    
    > i.fa {
      color: $gray-600;
    }
    
  }
  
  a.image {
    display: block;
  }
  
  a.image + a.text {
    margin-top: $spacer-half;
  }
  
  .rich {
    
    > iframe {
      margin: 0 !important;
    }
    
  }
  
  .video {
    
    width: 100%;
    height: 0;
    display: block;
    position: relative;
    
    &.four-three {
      padding-bottom: 75%;
    }
    
    &.sixteen-nine {
      padding-bottom: 56.25%;
    }
    
    > iframe {
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    
  }
  
}
