/* Auto Complete Field Styles
===================================================================================================================== */

.field {
  
  &.autocomplete {
    
    .value-wrapper {
      
      margin-top: 0.5em;
      
      .clear {
        display: none;
      }
      
      &.has-value > .clear {
        display: inline;
      }
      
    }
    
  }
  
}
